.container-flex {
  width: 100%;
  flex-direction: column;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    div {
      align-self: center;
    }

    button {
      width: 100px;
      align-self: center;
    }
  }
}
