@import "../../../colors";

.left-pane {
  background-color: map-get($dark-palette, 900);
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;

  img {
    max-width: 500px;
    align-self: center;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h1 {
      display: inline-block;
    }
    p {
      font-size: larger;
      align-self: center;
      display: inline-block;
    }
  }
}

.right-pane {
  color: map-get(map-get($dark-palette, "contrast"), 50);
  background-color: map-get($dark-palette, 100);
  width: 40%;
  min-width: 400px;
}
